{
    "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true
        }
    },
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    },
    "rules": {
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "semi": "error",
        "import/order": 0,
        "no-console": 0,
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": 0,
        "react/jsx-indent-props": 0,
        "react/prefer-stateless-function": 0,
        "import/prefer-default-export": 0,
        "react/destructuring-assignment": 0,
        "react/prop-types": 0,
        "no-unused-vars": 0,
        "react/jsx-one-expression-per-line": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "react/no-unused-state": 0,
        "import/no-extraneous-dependencies": 0
    }
}
